apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-end
  namespace: sp-culator
  labels:
    app: front-end
spec:
  replicas: 3
  selector:
    matchLabels:
      app: front-end
  template:
    metadata:
      labels:
        app: front-end
    spec:
      containers:
        - name: nginx
          image: nginx:1.14.2