apiVersion: v1
kind: Service
metadata:
  name: echoserver-service
  namespace: echo-sound
  labels:
    app: echoserver
spec:
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: echoserver